// Profile.module.sass -> pages/users/[tag].tsx

.head
    background: hsl(0, 0, 95)
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem 0
    width: 100%

.picture
    border-radius: 5rem

.inner
    max-width: 35rem
    width: 100%
    padding: 2rem

.container
    display: flex
    flex-direction: column
    align-items: center

.followButton
    border: 1px solid black
    background: none
    margin: 1rem 0 .5rem 0
    padding: .5rem 2rem
    border-radius: 2rem
    background: hsl(0, 0, 90)

.followButton:hover
    background: hsl(0, 0, 85)
