// Settings.module.sass -> pages/[slug].tsx

.container
    width: calc( 100% - 2rem )
    margin: 1rem
    padding: 2rem
    display: flex
    flex-direction: column
    gap: 1rem
    border: 1px black solid
    border-radius: 2rem

.outer
    padding: 1rem

.row
    display: grid
    grid-template-columns: 5rem 1fr

.updateButton
    border: 1px solid black
    background: none
    margin: 1rem 0 .5rem 0
    padding: .5rem 2rem
    border-radius: 2rem
    background: hsl(0, 0, 95)

.updateButton:hover
    background: hsl(0, 0, 90)
